<a href="https://colab.research.google.com/github/paradox-86678/DATA_HANDLING_VISUALIZATION.GITHUB/blob/main/Labsheet2_PandaSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
a=[1,7.2,2]
myvar=pd.Series(a)
print(myvar)

0    1.0
1    7.2
2    2.0
dtype: float64

In [ ]:
s1=pd.Series([-3,-1,1,3,5,'gaurav',7.3])
print(s1)

0        -3
1        -1
2         1
3         3
4         5
5    gaurav
6       7.3
dtype: object

In [ ]:
myvar=pd.Series(a,index=['x','y','z'])
print(myvar)
print(myvar['y'])

x    1.0
y    7.2
z    2.0
dtype: float64
7.2

In [ ]:
calories={
    "day1":420,
    "day2":320,
    "day3":620,
}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    320
day3    620
dtype: int64

In [ ]:
print(s1[[2,1,0]])

2     1
1    -1
0    -3
dtype: object

In [ ]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'])

1

In [ ]:
data={
    "cal":[420,390,360],
    "duration":[50,40,45]
}
df=pd.DataFrame(data)
print(df)

   cal  duration
0  420        50
1  390        40
2  360        45

In [ ]:
data={
    'Name':['Tom','Jack','Steve','Ricky'],
    'Age':[28,34,29,42]
}
df=pd.DataFrame(data,index=['R1','R2','R3','R4'])
print(df)

     Name  Age
R1    Tom   28
R2   Jack   34
R3  Steve   29
R4  Ricky   42

In [ ]:
print(df.loc['R1'])

Name    Tom
Age      28
Name: R1, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, R1 to R4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 268.0+ bytes

In [ ]:
df['ID']=[10,10,30,58]
print(df)

     Name  Age  ID
R1    Tom   28  10
R2   Jack   34  10
R3  Steve   29  30
R4  Ricky   42  58

In [ ]:
df['ID'].unique()

array([10, 30, 58])

In [ ]:
df['ID'].value_counts()

10    2
30    1
58    1
Name: ID, dtype: int64